<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Quiz</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>

<script>
var qr_code = null;
function make_qrcode(quiz_id) {
    $("#qr_code_url").text(window.location.origin + "/quiz/" + quiz_id);
    if (qr_code) {
        qr_code.clear();
        qr_code.makeCode(window.location.origin + "/quiz/" + quiz_id);
    }
    else {
        qr_code = new QRCode(document.getElementById("qrcode"), {
            text: window.location.origin + "/quiz/" + quiz_id,
            width: 320,
            height: 320,
            colorDark : "#000000",
            colorLight : "#ffffff",
            correctLevel : QRCode.CorrectLevel.H
        });
    }
}

$(document).ready(function(){
    make_qrcode("");
});
</script>

</head>
<body>

<div class="container">
<h1>List of available quizzes</h1>

    <div class="card mb-3 text-center">
        <div class="card-body">
            <h5 class="card-title">QR Code for a quiz</h5>
            <div class="card-text">
                <p>Click on the link to generate a QR code for a quiz.</p>
                <p>Current QR code's URL: <tt id="qr_code_url"></tt></p>.
                    <div id="qrcode" style="display: flex; justify-content: center; text-align: center;"></div>
            </div>
        </div>
    </div>

    {% if needs_update: %}
    <div class="card mb-3 text-center">
        <div class="card-body">
            <h5 class="card-title">Some XLM files are newer than the loaded quizzes!</h5>
        <button type="button" class="btn btn-danger" onclick="window.location.href='/reload_quizzes'">Reload XLM files with quizes.</button>
        </div>
    </div>
    {% endif %}

    <table class="table table-striped">
        <tr>
            <th>Quiz ID</th>
            <th>Title</th>
            <th>Modified</th>
            <th>Quiz link</th>
            <th>Answer stats link</th>
            <th>Show QR Code</th>
            <th>Timer Page</th>
        </tr>
        {% for quiz_id, quiz in quizzes.items(): %}
        <tr>
            <td><tt>{{ quiz_id }}</tt></td>
            <td>{{ quiz.title }}</td>
            <td>{{ quiz.last_modified }}</td>
            <td><a href="/quiz/{{ quiz_id }}">Quiz</a></td>
            <td><a href="/answer_stats/{{ quiz_id }}">Answers</a></td>
            <td><a href="#" onclick="make_qrcode('{{ quiz_id }}');">QR Code</a></td>
            <td>
                <a href="/timer/{{ quiz_id }}?minutes=1">1m</a> |
                <a href="/timer/{{ quiz_id }}?minutes=2">2m</a> |
                <a href="/timer/{{ quiz_id }}?minutes=3">3m</a> |
                <a href="/timer/{{ quiz_id }}?minutes=4">4m</a> |
                <a href="/timer/{{ quiz_id }}?minutes=5">5m</a>
            </td>
        </tr>
        {% endfor %}
    </table>

</div>

</body>
</html>
