<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Quiz</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
MathJax = {
  tex: {
    inlineMath: [['$', '$'], ['\\(', '\\)']]
  }
};
</script>
<script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

<script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
<script>
    var minutes = 5;
    var seconds = 0;

    var url_minutes = location.search.split('minutes=')[1]
    if (url_minutes) {
        minutes = parseInt(url_minutes);
    }

    function show_time() {
        $("#timer").text(minutes + ":" + (seconds < 10 ? "0" : "") + seconds);
    }

    $(document).ready(function(){
        show_time();
        $("#timer").hide();
        $("#start").text("Start timer (" + minutes + " min)");

	let quiz_url = new URL("../quiz/{{quiz_id}}", document.baseURI).href;

        qr_code = new QRCode(document.getElementById("qrcode"), {
            text: quiz_url,
            width: 320,
            height: 320,
            colorDark : "#000000",
            colorLight : "#ffffff",
            correctLevel : QRCode.CorrectLevel.H
        });

        $("#start").click(function() {
            $("#timer").show();
            var timer = setInterval(function() {
                if (seconds == 0) {
                    if (minutes == 0) {
                        clearInterval(timer);
                        window.location.href = "../answer_stats/{{quiz_id}}";
                    }
                    else {
                        minutes--;
                        seconds = 59;
                    }
                }
                else {
                    seconds--;
                }
                show_time();
            }, 1000);
            $("#start").hide();
        });

	$("#url").text(quiz_url);
    });
</script>
</head>

<body>

<div class="container text-center">
    <h1>{{quiz.title}}</h1>
    <h2 id="url" style="font-family: monospace"></h2>
    <div id="qrcode" style="display: flex; justify-content: center; text-align: center; margin: 3em"></div>
    <div id="timer" style="font-size: 4em; text-align: center">{{ minutes }}:{{ seconds }}</div>
    <button type="button" id="start" class="btn btn-primary" style="width: 100%; margin-top: 1em;"> Start </button>

</div>

</body>
</html>
